<mat-accordion>
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        JINA IMMO
      </mat-panel-title>
      <mat-panel-description>
        Chercher un bien {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>


    <div class="example-container">
        <input matInput placeholder="Localite">
        <input matInput placeholder="Prix">
      <mat-form-field>
        <mat-select placeholder="Typebien">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>
