<div class="container formres">
  <div class="col s6 cat" >
<mat-card class="example-card">
    <img class="image" mat-card-image src="data:image/jpg;base64,{{bienn.images[0].image}}">
      <mat-card-content>
         {{bienn.nombien}}    
         {{bienn.prix}}
         {{bienn.description}}
      </mat-card-content>
 </mat-card>
    </div>

    <div>
          <h1>Reservation</h1>
          <input matInput placeholder="numeropiece">
          <input matInput placeholder="nomclient">  
          <input matInput placeholder="telclient">  
          <input matInput placeholder="adressclient">  
          <input matInput placeholder="mailclient">  
          <input matInput placeholder="password">  
    </div>

</div>